<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ABCRestaurant</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpServelet</display-name>
    <servlet-name>SignUpServelet</servlet-name>
    <servlet-class>com.user.servelet.SignUpServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServelet</servlet-name>
    <url-pattern>/SignUpServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInServelet</display-name>
    <servlet-name>SignInServelet</servlet-name>
    <servlet-class>com.user.servelet.SignInServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServelet</servlet-name>
    <url-pattern>/SignInServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFeedbackServelet</display-name>
    <servlet-name>AddFeedbackServelet</servlet-name>
    <servlet-class>com.user.servelet.AddFeedbackServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFeedbackServelet</servlet-name>
    <url-pattern>/AddFeedbackServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSinginServelet</display-name>
    <servlet-name>AdminSinginServelet</servlet-name>
    <servlet-class>com.admin.servelet.AdminSinginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSinginServelet</servlet-name>
    <url-pattern>/AdminSinginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSignupServelet</display-name>
    <servlet-name>AdminSignupServelet</servlet-name>
    <servlet-class>com.admin.servelet.AdminSignupServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSignupServelet</servlet-name>
    <url-pattern>/AdminSignupServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAdminServelet</display-name>
    <servlet-name>GetAdminServelet</servlet-name>
    <servlet-class>com.admin.servelet.GetAdminServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdminServelet</servlet-name>
    <url-pattern>/GetAdminServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServelet</display-name>
    <servlet-name>UpdateAdminServelet</servlet-name>
    <servlet-class>com.admin.servelet.UpdateAdminServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServelet</servlet-name>
    <url-pattern>/UpdateAdminServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdminServelet</display-name>
    <servlet-name>DeleteAdminServelet</servlet-name>
    <servlet-class>com.admin.servelet.DeleteAdminServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminServelet</servlet-name>
    <url-pattern>/DeleteAdminServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserServelet</display-name>
    <servlet-name>GetUserServelet</servlet-name>
    <servlet-class>com.user.servelet.GetUserServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserServelet</servlet-name>
    <url-pattern>/GetUserServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServelet</display-name>
    <servlet-name>DeleteUserServelet</servlet-name>
    <servlet-class>com.user.servelet.DeleteUserServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServelet</servlet-name>
    <url-pattern>/DeleteUserServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServelet</display-name>
    <servlet-name>UpdateUserServelet</servlet-name>
    <servlet-class>com.user.servelet.UpdateUserServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServelet</servlet-name>
    <url-pattern>/UpdateUserServelet</url-pattern>
  </servlet-mapping>
</web-app>